.sticky-header-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 100;
    width: 100%;
    padding-bottom: 20px;
  }
  
  .df {
    display: flex;
    align-items: center;
  }
  
  .sticky-header {
    max-width: 45vw;
    display: flex;
    margin: 30px auto 0;
  }
  
  .top-header {
    display: flex;
    justify-content: space-between;
  }
  
  .switcher {
    margin-left: -5vw
  }
  
  .logo-wrapper {
    width: 30%;
  }
  
  .burger {
    height: 40px;
    position: relative;
    bottom: 6px;
    left: 30px;
  }
  
  // @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  //   .logo {
  //     width: 250px;
  //     height: 61px;
  //     left: 1px;
  //   }
  
  //   .sticky-header {
  //     max-width: 90vw;
  //   }
  // }
  
  // @media only screen and (min-device-width : 320px) and (max-device-width : 1500px) {
  //   .burger {
  //     height: 40px;
  //     position: relative;
  //     bottom: 6px;
  //   }
  // }
  
  .logo {
    cursor: pointer;
    margin-right: 20px;
  }
  
  .switcher-content{
    margin: 15px;
    padding-top: 3px;
  }
  
  .lang {
    padding: 0 5px 0 5px;
  }

  b {
      display: flex;
      font-size: 20px;
  }

  .currency-wrapper {
    display: flex;
    align-items: center;
  }
  