<div class="sticky-header-container">
    <div class="sticky-header">
        <div class="logo-wrapper">
            <img class="logo" width="87" height="87"
                 alt="Logo"
                 src="assets\images\logo.png">
            <b>Currency Converter</b>
        </div>
        <div class="currency-wrapper">
            <app-currency [currency]="'EUR'"></app-currency>
            <app-currency [currency]="'USD'"></app-currency>
            <app-currency [currency]="'GBP'"></app-currency>
        </div>
    </div>
  </div>
