b, p, span{
    font-family: "Oxygen", Arial, Helvetica, sans-serif;
}

.inside-content_2 {
    background-color: #f1f1f1;
    height: auto;
    padding: 170px 0 40px 0;
}

.text {
    max-width: 65vw;
    margin: 10px auto 0;
}

.headline-container {
    max-width: 65vw;
    margin: auto;
    padding-top: 5px;
    text-align: center;
}

b {
    font-size: 20px
}